body{

    background-color:rgba(124, 151, 4, 0.26);

}


#allDiv{

    display:flex;
    flex-direction: row;
    justify-content: space-around;

}




/*left div */
#leftDiv{

    display:flex;
    flex-direction: column;
    justify-content: center;

}

#homeButton{

    margin-top:20px;

}

#homeIcon{

    background-color:rgba(255, 166, 0, 0.501);

}

#tipAndGig{

    margin-top:100px;

    flex-direction: column;

}

#tipBox{

    background-color: aliceblue;
    border-radius:20px;
    padding:20px;
    font-size:x-large;
    font-weight: bold;
    text-align:center;
    width:800px;

}

#Gig{

    display: flex;
    margin-left: auto;
    margin-right:auto;
    margin-top:150px;

}





/* Search results div */
#searchResultsDiv{
    
    display: flex;
    flex-direction: column;

}

#text_search_results{

    margin-top:20px;
    font-weight: bold;
    border-radius:10px;

    width:700px;
    height:fit-content;

    text-align:center;

    padding:20px;
    font-size:xx-large;

    background-color:orange; /*Not final */

}

#concertResultBoxContainer{

    height:auto;
    margin-top:20px;

}

.concertListing{

    width:700px;
    display:flex;
    justify-content: space-between;

    padding:20px;
    border-radius: 50px;

    background-color: rgba(255, 166, 0, 0.501);
    

}

.venuePicture{

    width:240px;
    border:solid;
    height:135px;
    display: flex;
    margin-top:auto;
    margin-bottom:auto;
    border-color:aliceblue;

}

.details{

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.favoriteBtnContainer{

    margin-bottom:auto;
    margin-top:auto;  

}

#favoriteBtn{

    padding:20px;
    border-radius:60px;

}