body {
    background-color: #1DB954;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0; 
}

#allDiv {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#leftDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute left;
}

#homeButton {
    display: flex;
    margin-top: 20px;
}

#leftDiv button {
    margin-right: 20px;
}

#homeIcon {
    background-color: black;
    color: white;
}

#locationButton {
    background-color: black;
    color: white;
}

#findConcert {
    margin-top: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 700px;
    height: fit-content;
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    background-color: black; 
    color: white;
}

.event {
    flex: 1 1 calc(50% - 40px);
    max-width: calc(50% - 40px); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #000000;
    color: white;
}

.event h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 135px;
    border: solid 1px aliceblue;
}

.event img {
    max-width: 100%;
    max-height: 100%;
}

.event p {
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.event a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1DB954; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.event a:hover {
    background-color: #2e8b57; 
}

#results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}