body {
    background-color: #e0eeb4;
    height:2000px;
}


#allDiv {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}



#leftDiv{

    display:flex;
    flex-direction: column;
    justify-content: center;
    position: absolute left;
}

#homeButton{

    display:flex;
    margin-top:20px;
    
}

#leftDiv button{

    margin-right:20px;

}

#homeIcon{

    background-color: #f7d974;

}

#tipAndGig{

    margin-top:100px;

    flex-direction: column;

}

#tipBox{

    background-color: aliceblue;
    border-radius:20px;
    padding:20px;
    font-size:x-large;
    font-weight: bold;
    text-align:center;
    width:800px;

}

#Gig{

    display: flex;
    margin-left: auto;
    margin-right:auto;
    margin-top:50px;

}

#findConcert {
    margin-top:20px;
    font-weight: bold;
    border-radius:10px;
    width:700px;
    height:fit-content;

    text-align:center;

    padding:20px;
    font-size:xx-large;

    background-color: #f7d974; 
    color: white;
}

.event{
    width:700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:50px;
    padding:20px;
    border-radius: 20px;
    background-color: #f7d974;
}

.event h2 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

.event img {

    width:240px;
    border:solid;
    height: 135px;
    display: flex;
    margin-top:auto;
    margin-bottom:auto;
    border-color:aliceblue;
    justify-content: center;

}

.event p {
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.event a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0eeb4; 
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.event a:hover {
    background-color: #2e8b57; 
}

#results {
    margin-top: 20px;
    display: block;
    text-align: center;
}
