body{
    
    background-color:rgba(124, 151, 4, 0.26);
    }
    
#topArtistContainer {
        background-color:rgba(255, 166, 0, 0.501);
        height:450px;
        border-style: solid;
        margin-top: 20px;
        padding: 30px;
        width:350px;
        border-radius: 15%;
        font-size: large;
        font-weight: bold;
        
    
    }
    
#topArtist {
   

}

#description {
    background-color: white;
    border: solid;
    border-radius: 15px;
    margin-left: 700px;
    margin-right: 85px;
    padding: 55px;
    width:auto;
    height: fit-content;
    text-align: center;
    font-size: x-large;
    
   
}

.gig_chr {
    display:flex;
    margin-left: 950px;
    margin-right: 20px;
    margin-top:150px;
}