#main {

    background-color: #e0eeb4;
    display:flex;
    justify-content: center;
    height: fit-content;
    color: black;

}

#left-panel {
    display: column;
    justify-content: left;
    margin-right: 200px;
}

#right-panel {
    display: column;
    justify-content: right;
    margin-right: 200px;
}



header{

    background-color: #e0eeb4;
    color: black;
    display: flex;
    flex-direction: row;
    width:auto;
    height:125px;
    align-content: center;
}

#logoCoupling{

    margin-left:20px;
    margin-right:70px;
    align-content: center;
}

#simplifiedLogo{

    font-size: 48px;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    color:black;

}

#logoSubtitle{

    margin-top:-10px;

}

.navBtn{

    width:350px;
    margin:30px;
    border: none;
    background-color:#f7d974;
    border-radius:10px;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    padding:10px;
    justify-content: center;
}

.token {

    width:100px;
    margin:30px;
    border-color: black;
    background-color:#f7d974;
    border-radius: 10px;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    justify-content: center;
}

#login-button {

    height:100px;
    width:500px;
    padding:20px;
    font-size: xx-large;
    margin-top:25px;
    
}

.button {
    background-color: #f7d974;
    color: black;
    height: 100px;
    width: 350px;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    font-size: x-large;
    margin-top: 25px;
}



#heroBanner{

    background-color: #f7d974;
    height:600px;
}

#exclamationGuy{

    
    display:block;
    margin-left:auto;
    margin-right:auto;

}

#promptText{

    text-align: center;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    color:black;
    transform:translateY(-200px); 
}

.navBtn:hover{

    background-color: #e0eeb4;

}

#oauth-template {
    display: block;
    visibility: hidden;
}

#top_artists {
    font-size: 25px;
}