#main{

    background-color: rgba(124, 151, 4, 0.26);
    display:flex;
    justify-content: center;
    height:auto;

}


header{

    background-color: rgba(124, 151, 4, 0.26); /*Not final */

    display: flex;

    flex-direction: row;

    width:auto;

    height:125px;

    align-content: center;


    

}

#logoCoupling{

    margin-left:20px;
    margin-right:70px;
    align-content: center;
}

#simplifiedLogo{

    font-size: 48px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    color:black;

}

#logoSubtitle{

    margin-top:-10px;

}

#navButtons{

    margin-top: auto;
    margin-bottom: auto;
    width:1300px;

    display: flex; 

    align-items: center;
    margin-left:300px; /*will find a better way to center this or otherwise */

   
    


}

.navBtn{

    width:350px;
    margin:30px;
    
    border:none;
    background-color:rgba(255, 166, 0, 0.501);
    border-radius:10px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;

    padding:10px;

    justify-content: center;

}

#spotifyAuthenticationBtn{

    
    height:100px;
    width:500px;
    padding:20px;
    font-size: xx-large;
    
    margin-top:25px;
    
    

    
}









#heroBanner{

    


    --bannerColor: rgba(255, 166, 0, 0.501);
     background-color: var(--bannerColor);  /* Color may be used more than once */
    height:600px;
}

#exclamationGuy{

    
    display:block;
    margin-left:auto;
    margin-right:auto;

}

#promptText{

    text-align: center;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-size: 48px;

    color:black;

    transform:translateY(-200px); 
    

}


/*HOVER */

.navBtn:hover{

    background-color: rgba(255, 255, 0, 0.386);

}